{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}
 <h1>IMMOSTAR</h1>
 
        <a href="/ajouterBien">
            Ajouter un Bien 
            <br>
            <br>       
        <a href="/ajouterTypes">
            Ajouter un Type
            <br>
            <br>
        <a href="/ajouterVisite">
            Ajouter une Visite
            <br>
            <br>
        <a href="/ajouterVisiteur">
            Ajouter un Visiteur
            <br> 
            <br> 
        
       
    </body>
{% endblock %}
